:root{
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
}
body{
    background: url(./bg-pattern-top-desktop.svg) no-repeat,url(./bg-pattern-bottom-desktop.svg) no-repeat 100% 100%;
    background-size: auto,80% 88%;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}
.general-container{
width: 80%;
height: 82%;

}
.upper-part{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
}
.description{
    width: 45%;
    height: 100%;
}
.description h1{
    color:var(--very-dark-magenta);
    font-size: 3rem;
    font-weight: 700;
    padding-right: 96px;
    /* width: 56%; */
}
.description p{
    color: var(--dark-grayish-magenta);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-right: 32px;
    /* width: 84%; */
}
#rating-container{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 64%;
    padding-top: 36px;
    justify-content: space-evenly;
}
.rating{
    display: flex;
    background-color: var(--light-grayish-magenta);
    border-radius: 4%;
    align-items: center;
    font-weight: 700;
    height: 24%;
    padding-right: 36px;
    font-size: 1.1rem;
}
#first{
    align-self: flex-start;
}
#second{
    align-self: center;
}
#third{
    align-self: flex-end;
}
#stars{
    padding: 0 28px;
}
.rating p{
    color: var(--very-dark-magenta);
}
#comment-container{
    display: flex;
    width: 100%;
    height: 36%;
    justify-content: space-evenly;
}
.comment{
    background-color: var(--very-dark-magenta);
    border-radius: 4%;
    padding-top: 20px;
    width: 30%;
    height: 80%;
    line-height: 1rem;
}
.user{
    display: flex;
}
.user img{
    border-radius: 50%;
    align-self: center;
    height: 36px;
    padding: 0 28px;
}
.user>div{
    align-self: center;
}
.user p:nth-child(1){
    color: var(--white);
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 1.1rem;
}
.user p:nth-child(2){
    color:var(--soft-pink);
    margin-top: 4px;
}
.text-valoration{
    color: var(--light-grayish-magenta);
    padding-left: 28px;
    padding-right: 42px;
    font-size: 1rem;
    line-height: 1.4rem;
}
#uno{
    align-self: flex-start;
}
#dos{
    align-self: center;
}
#tres{
    align-self: flex-end;
}
@media(max-width:1330px){
    .comment{
        height: auto;
    }
    .upper-part{
        height: auto;
    }
}
@media(max-width:376px){
    body{
        height: auto;
        background: url(./bg-pattern-top-mobile.svg) no-repeat,url(./bg-pattern-top-mobile.svg) no-repeat 100% 100%;
    }
    .general-container{
        width: 90%;
    }
    .description h1{
        margin-top: 0;
        padding-right: 0px;
        text-align: center;
    }
    .upper-part{
        flex-direction: column;
    }
    .description{
        width:100%;
    }
    .description p{
        padding-right: 0px;
        text-align: center;
        font-size: 1.13rem;
    }
    #rating-container{
        width: 100%;
        height: 100%;
        padding-top: 0px;
        justify-content: space-evenly;
        margin-bottom: 64px;
    }
    .rating{
       flex-direction: column;
       padding: 20px;
       width: 100%;
    }
    #stars{
        padding-top: 12px;
    }
    .rating p{
       padding-bottom: 28px; 
    }
    #first,#second,#third{
        height: 24%;
        padding: 0; 
    }
    #first,#second,#third,#uno,#dos,#tres{
        align-self: center;
    }
    #comment-container{
        flex-direction: column;
        height: auto;
    }
    .comment{
        width: 100%;
        margin-bottom: 20px;
    }
    #tres{
        margin-bottom: 80px;
    }
    .text-valoration{
        padding-right: 56px;
        margin-bottom: 28px;
    }
}